.item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}
.item-image__img {
  width: 520px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.item-content {
  max-width: 450px;
}
.item-content__name {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.item-content__status {
  padding: 15px 0;
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
}

.item-content__description {
  height: 173px;
  border-bottom: 1px solid rgba(72, 43, 8, 0.3);
  border-top: 1px solid rgba(72, 43, 8, 0.3);
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
}
.item-content__users,
.item-content__item {
  display: flex;
  gap: 150px;
  text-align: left;
}
.item-content__block-details-item {
  width: 150px;
}
.main-name-details {
  padding: 35px 0 10px 0;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.item-content__block-details{
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(72, 43, 8, 0.3);;
}
.name-details {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding: 20px 0;

  color: rgba(72, 43, 8, 0.8);
}
.res-details {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}

.item-content__btn-buy {
  width: 298px;
  height: 77px;
  border: none;
  /* градиент */

  background: linear-gradient(89.7deg, #f27d0c 1.02%, #caad19 99.74%);
  border-radius: 38.5px;

  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.item-content__block-buy {
  padding-top: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.item-content__name-price {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8); 
}
.item-content__price {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}

.item-content__name-price{
  padding: 5px 0;
}

.link-blockchain{
  /* padding: 20px; */
  padding-left: 10px;
}