.item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}
.item-image__img {
  width: 520px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.item-content {
  width: 100%;
  max-width: 450px;
}
.item-content__name {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.auction-info{
  padding-top: 10px;
  /* height: 30px; */
}
.item-content__status {
  padding: 15px 0 15px 0;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  /* justify-content: start; */
/* text-align: left; */

  color: rgba(72, 43, 8, 0.6);
}
.time-auction{
  /* color:  #F27D0C; */
  padding-left: 10px;
  background: linear-gradient(89.7deg, #F27D0C 1.02%, #CAAD19 99.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auction-lider{
  padding-bottom: 5px;
  height: 30px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: start;
/* text-align: left; */

  color: rgba(72, 43, 8, 0.6);
}
.auction-lider__address{
  padding:0 10px;
  background: linear-gradient(89.7deg, #F27D0C 1.02%, #CAAD19 99.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item-content__description {
  height: 173px;
  border-bottom: 1px solid rgba(72, 43, 8, 0.3);
  border-top: 1px solid rgba(72, 43, 8, 0.3);
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
}
.item-content__users,
.item-content__item {
  display: flex;
  gap: 150px;
  text-align: left;
}
.item-content__block-details-item {
  width: 100%;
  min-width: 150px;
}
.main-name-details {
  padding: 35px 0 10px 0;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.item-content__block-details {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(72, 43, 8, 0.3);
}
.name-details {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding: 20px 0;

  color: rgba(72, 43, 8, 0.8);
}
.res-details {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}
.item-content__btn-buy-sub{
  display: flex;
  justify-content: center;
  width: 250px;
  height: 77px;
  border: none;
  /* градиент */

  background: linear-gradient(89.7deg, #f27b0c6b 1.02%, #caac1966 99.74%);
  border-radius: 46px;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgb(72, 43, 8);
}

.item-content__btn-buy {
  width: 250px;
  height: 77px;
  border: none;
  /* градиент */

  background: linear-gradient(89.7deg, #f27d0c 1.02%, #caad19 99.74%);
  border-radius: 38.5px;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.btns-billing{
  display: flex;
  gap: 10px;
}
.item-content__block-buy {
  padding-top: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.item-content__name-price {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}
.item-content__price {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}

.item-content__name-price {
  padding: 5px 0;
}
.item-content__choice-details{
  display: flex;
  gap: 20px;
  /* border-bottom: 1px solid rgba(72, 43, 8, 0.3); */
}
.link-blockchain {
  /* padding: 20px; */
  padding-left: 10px;
}
.item-content__btns {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* MODAL */

.modal-tokens-action {
  width: 516px;
  /* height: 535px; */
  border-radius: 26px;
  /* width: 100%;
  height: 100%; */

  background: #fffcf9;
  /* border-radius: 26px; */
}
.modal-tokens-action__name {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(72, 43, 8, 0.3);
  padding: 20px 0;
  color: #482b08;
  opacity: 0.8;
}
.modal-tokens-action__content {
  padding: 30px 43px;
}
.modal-tokens-action__submaintext {
  padding-bottom: 16px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #482b08;

  opacity: 0.8;
}
.modal-tokens-action__token-info {
  border-top: 1px solid rgba(72, 43, 8, 0.3);
  border-bottom: 1px solid rgba(72, 43, 8, 0.3);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 0;
}
.modal-tokens-action__image-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.modal-tokens-action__token-title {
  padding-left: 20px;
  flex-grow: 1;
}
.modal-tokens-action__token-title-collection {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  color: rgba(72, 43, 8, 0.8);
}
.modal-tokens-action__token-title-name,
.modal-tokens-action__price {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.9);
}
.modal-tokens-action__input {
  padding-left: 15px;
  height: 56px;
  width: 100%;
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(72, 43, 8, 0.5);
  border-radius: 3px;
  color: rgb(72, 43, 0.9);
}
.text-name-price {
  padding-top: 20px;
}
.modal-token__btn {
  min-width: 169px;
  padding: 0 20px;
  height: 66px;

  /* градиент */

  background: linear-gradient(89.7deg, #f27d0c 1.02%, #caad19 99.74%);
  border-radius: 38.5px;
  border: none;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.modal-token__block-btn {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.toaster {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  margin-top: 5px;
  padding-top: -10px;
  color: rgba(72, 43, 8, 0.9);
  opacity: 0.8;
}

.loader-content-page {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-date{
  color: rgba(72, 43, 8, 0.9);
  /* background-color: rgb(156, 87, 87); */
}
.input-date__datetime {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  


  color: rgba(72, 43, 8, 0.9);
}
.form-control{
  /* width: 100%; */

  padding-left: 15px;
  height: 56px;
  width: 100%;
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(72, 43, 8, 0.5);
  border-radius: 3px;
  color: rgb(72, 43, 0.9);
  /* background-color: transparent; */
}
.rdtPicker{
  background: #fffcf9 !important;

  top:0;
  right: -10px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%) !important;
}
.rdtToday{
  background-color: #f27b0c22;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #F27D0C !important;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive, .rdtPicker td.rdtActive:hover {
  background-color: #F27D0C !important;
  color: #fff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}
/* .rdtPicker .dow{  
  
  background-color: #f27b0c4a;
  color: #F27D0C;
}
.rdtPicker th{
  background-color: #f27b0c4a;
  color: #F27D0C;
} */
.rdtPicker .dow:hover{
  background-color: #f27b0c4a;
  color: #F27D0C;
}
.rdtPicker th:hover{
  background-color: #f27b0c4a;
  color: #F27D0C;
}