.cover-image {
  /* border: 1px solid #000; */
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.icon-profile {
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  height: 141px;
  width: 141px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid #c4c4c4;
}

.icon-profile img {
  /* border-radius: 50%; */
}
.info-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.info-user__name-user {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.info-user__address-user {
  width: 131px;
  height: 44px;

  background: linear-gradient(
    89.7deg,
    rgba(242, 125, 12, 0.2) 1.02%,
    rgba(202, 173, 25, 0.2) 99.74%
  );
  border-radius: 22px;


  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;

  color: rgba(72, 43, 8, 0.6);
}
