.content {
  min-height: 150vh;
}
.cover-image {
  /* border: 1px solid #000; */
  width: 100%;
  border-radius: 25px;
  height: 147px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.icon-profile {
  background-color: #fff;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  height: 141px;
  width: 141px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 4px solid #c4c4c4;
}
.tokens {
  padding-top: 30px;
}
.ref-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  right: 4.5%;
  top: 20px;
  position: absolute;
}
.ref-code__title {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
}
.ref-code__code {
  width: 131px;
  height: 28px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(72, 43, 8, 0.6);
  border-radius: 22px;

  background: linear-gradient(#fffcf9 0 0) padding-box,
    /*this is your grey background*/ linear-gradient(to right, #f27d0c, #caad19)
      border-box;
  /* color: #1f1ff3; */
  border: 2px solid transparent;
  padding: 10px;
}
.icon-profile img {
  /* border-radius: 50%; */
}
.info-user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
}
.info-user__name-user {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.icons_media {
  margin-left: 18px;
  gap: 12px;
  display: flex;
}
.info-user__icon_media:hover {
  transition: 0.5s;
  transform: scale(1.3);
}
.icon-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-user__address-user {
  width: 131px;
  height: 44px;

  background: linear-gradient(
    89.7deg,
    rgba(242, 125, 12, 0.2) 1.02%,
    rgba(202, 173, 25, 0.2) 99.74%
  );
  border-radius: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;

  color: rgba(72, 43, 8, 0.6);
  margin: 10px 0;
  margin-bottom: 15px;
}
.info-user__date-reg {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
  padding-bottom: 15px;
}
.info-user__email-website {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(72, 43, 8, 0.6);
}
.info-user__btns {
  display: flex;
  gap: 20px;
}
.info-user__bnt-update,
.info-user__bnt-discharge {
  width: 39px;
  height: 39px;

  border: 1px solid rgba(72, 43, 8, 0.6);
  box-sizing: border-box;
  border-radius: 9px;
}

.info-user__bnt-update,
.info-user__bnt-discharge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-user__description {
  background: #fffcf9;

  margin: 15px 0;
  /* padding: 15px 0; */
  border: 1px solid rgba(72, 43, 8, 0.6);
  border-radius: 15px;
}
.info-user__description_text {
  text-align: center;
  word-break: break-all;
  max-width: 500px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
  padding: 15px;
}
.modalUpdateData {
  /* height: 95vh; */
  overflow-y: auto;
  background-color: #fff;
  border: 3px solid rgba(243, 169, 99, 0.2);
  z-index: 1000;
  width: 500px;
  min-height: 310px;
  padding: 30px 15px 30px 30px;
  border-radius: 10px;
}
.modalUpdateData__content::-webkit-scrollbar-thumb {
  border-radius: 11px;
  background-color: #f27b0c63;
}
.modalUpdateData__content::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

.modalUpdateData__content::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}

.modalUpdateData__content {
  padding-right: 15px;
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  /* height: 100%; */
  /* border: 2px solid rgba(243, 169, 99, 0.2); */
}
.modalUpdateData__title {
  padding-bottom: 5px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  color: rgba(72, 43, 8, 0.6);
}
.modalUpdateData__block_name {
  width: 100%;
  /* border: 3px solid rgba(203, 142, 84, 0.2); */
  gap: 7px;
  /* justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
}
.modalUpdateData__input_name {
  border-radius: 10px;
  padding-left: 15px;
  width: 210px;
  border: 3px solid rgba(203, 142, 84, 0.2);
  height: 40px;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(72, 43, 8, 0.6);
  display: flex;
}
.modalUpdateData__input {
  border-radius: 10px;
  padding-left: 15px;
  width: 100%;
  border: 3px solid rgba(203, 142, 84, 0.2);
  height: 40px;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(72, 43, 8, 0.6);
  display: flex;
}
.modalUpdateData__input:disabled {
  /* border: 1px solid #999999; */
  background-color: rgba(72, 43, 8, 0.116);
  /* color: #666666; */
}
.modalUpdateData__block_data {
  padding-bottom: 15px;
}
.modalUpdateData__input_description {
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 3px solid rgba(203, 142, 84, 0.2);
  color: rgba(72, 43, 8, 0.6);
  word-break: break-all;
  width: 100%;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding: 15px;
  /* width: 100%; */
  height: 120px;
}
.modalUpdateData__btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  /* margin-top: -10px; */
}
.modalUpdateData__btn {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 32px;
  border: none;
  /* градиент */

  background: linear-gradient(89.7deg, #f27d0c 1.02%, #caad19 99.74%);
  border-radius: 46px;

  font-family: "Neometric";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.9);
}
.modalUpdateData__btn-cancel {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 32px;
  border: none;
  /* градиент */

  background: linear-gradient(89.7deg, #f27b0c6b 1.02%, #caac1966 99.74%);
  border-radius: 46px;

  font-family: "Neometric";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: rgb(72, 43, 8);
}
.tabs-line {
  width: 100%;
  /* he-ight: 1px; */
  border-top: 2px solid rgba(72, 43, 8, 0.2);
}
.tabs-token {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tab-btn {
  background-color: transparent;
  border: none;
  /* border-bottom: 2px solid #F27D0C  ; */
  width: 138px;
  height: 40px;

  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(72, 43, 8, 0.9);
}
.tab-btn:hover {
  border-bottom: 2px solid #f27d0c;
}
.activ-tab-prof {
  border-bottom: 2px solid #f27d0c;
}

.collection-list-profile {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.modal-creact-collection__loader-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
