.filter{
  padding:  0;
  /* padding-bottom: 6rem; */
}

.filter-bottom{
  /* padding: 4rem 6rem; */
}
.filter-bottom-input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-bottom-input input{
  background: #1B1A21;
  border-radius: 10px;
  border: none;
  padding: 7px 19px 7px 15px;
  font-family: var(--font-family);
  outline: none;
  color: whitesmoke;
  flex:0.3;
  display: flex;
  margin-right: 1rem;
}
.filter-bottom-input select{
  background: rgba(255, 255, 255, 0.01);
  border-radius: 46px;
  border: 2px solid;
  border-color: #F27D0C;
  padding: 7px 19px 7px 15px;
  font-family: var(--font-family);
  outline: none;
  color: rgba(72, 43, 8, 0.8);
  flex:0.1;
  display: flex;
  margin-left: 10px;
}

@media screen  and (max-width:550px){
  .filter.section__padding{
    padding: 1rem 0px !important;
  }
}
@media screen  and (max-width:500px){
  .filter-bottom-input {
    display: none;
  }
  .filter-top{
    padding-bottom: 1rem;
  }
}
