
.bids-card {
  border: 1.5px solid #f27b0c51 
  ;
  width: 225px;
  /* height: 318px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fffcf9;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}
.bids-card:hover{
  transition: 1s;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.301);
 }
.bids-top {
  padding: 0px 10px 12px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bids-card img {
  border-radius: 20px;
  /* width: 193px; */
  height: 143px;
  object-fit: cover;
}
.bids-card img:active {
  border-radius: 20px;
  width: 100%;
  height: 143px;
  /* position: absolute; */
  transition: 1s;
  object-fit: cover;
}
.bids-title{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(72, 43, 8, 0.9);
  margin-top: 15px;
}
.buy-and-love {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-btn-buy {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 32px;
  border: none;
  /* градиент */

  background: linear-gradient(89.7deg, #f27d0c 1.02%, #caad19 99.74%);
  border-radius: 46px;

  font-family: "Neometric";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.9);
}
.card-price {
  height: 40px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.9);

  padding: 15px 0;
  text-align: left;
  width: 100%;
}
.card-bottom {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: space-between;
  border-top: 1px solid rgba(242, 125, 12, 0.3); */
}
.card-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.love{
  display: flex;
  align-items: center;
  justify-content: center;
}
.love-icon{
  margin-top: 5px;
  margin-right: 4px;
}
.love-number {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}
.card-name__main {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.9);
}
.card-name__submain {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.5);
}
.bids-card-bottom p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* text-align: right; */
  color: rgba(72, 43, 8, 0.5);
}
.bids-card-bottom p:last-child {
  font-weight: normal;
}
.bids-card-bottom span {
  font-weight: normal;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.load-more button {
  background: transparent;
  border: 1px solid var(--primary-color);
  margin: 0 1rem;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 100px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
/* @media screen and (max-width: 1440px) {
  .card-column {
    width: 20%;

  }
}


@media screen and (max-width: 1200px) {
  .card-column {
    width: 33.33%;

  }
}

@media screen and (max-width: 900px) {
  .card-column {
    width: 50%;

  }
}
@media screen and (max-width: 550px) {

  .bids-card{
    margin-bottom: 10px;
    margin-inline: 5px;
  }
  .bids-card-top p{
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
  }
  .bids-card-bottom p{
    font-size: 10px;
    line-height: 15px;
  }
  .bids-container{
    width: 100%;
  }


} */
