.header {
  display: flex;
  flex-direction: column;
  align-promos: center;
  justify-content: center;
  margin: auto;
}



.promo {
  display: flex;
  padding: 0 6rem;
  font-family: var(--font-family);
}
.promo-image {
  position: absolute;
  right: 10px;
  top: 90px;
  /* flex: 1; */
  /* display: flex;
  justify-content: center;
  align-promos: center; */
  /*border-right: 1px solid rgba(165, 165, 165, 0.1);*/
}
.promo-blur-block {
  width: 315px;
  height: 104px;
  right: 133px;
  top: 500px;
  position: absolute;
  /* background: rgba(255, 255, 255, 0.26); */
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(72, 43, 8, 0.8);
  border-radius: 13px;
}
.promo-image img {
  width: 100%;
  height: 100%;
  border-radius: 70px;
  padding: 50px;
}
.promo-content {
  /* flex: 1; */
  max-width: 750px;
  display: flex;
  justify-content: flex-start;
  align-promos: flex-start;
  flex-direction: column;
  margin-top: 5rem;
  position: relative;
}

.promo-content-title h1 {
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 77px;
  /* display: flex;
  align-items: center; */
  letter-spacing: -0.02em;

  color: rgba(72, 43, 8, 0.85);

  /* line-height: 20px; */
  line-height: 77px;
}
.promo-content-title__main-word {
  background: linear-gradient(89.7deg, #f27d0c 1.02%, #caad19 99.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: rgb(221, 148, 59); */
}
.promo-content-title p {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.promo-content-title span {
  font-weight: 600;
}
.promo-content-creator {
  margin-top: 30px;
}
.promo-content-creator p {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.promo-content-creator div {
  display: flex;
  align-promos: center;
  /* margin-top: 10px; */
}

.promo-content-creator img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.promo-content-detail {
  margin-bottom: 30px;
  /*border-top: 1px solid rgba(165, 165, 165, 0.1);*/
  padding-top: 20px;
}
.promo-content-detail p {
  font-size: 16px;
  line-height: 26px;
  color: rgba(72, 43, 8, 0.5);
  max-width: 600px;
}
.promo-content-buy {
  display: flex;
  gap: 19px;
}
.promo-content-buy .primary-btn {
  background: var(--primary-btn);
  width: 190px;
  height: 62px;
  border-radius: 13px;
  border: none;
  font-family: "Neometric";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;

  justify-content: center;
}
.primary-btn svg {
  margin-left: 9px;
  /* padding-left: 10px; */
}
.promo-content-buy .secondary-btn {
  background: transparent;
  border: 1px solid var(--secondary-btn);
  width: 148px;
  height: 62px;
  border-radius: 13px;
  color: var(--primary-color);

  font-family: "Neometric";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(72, 43, 8, 0.5);
}
.promo-content-action {
  display: flex;
  position: absolute;
  right: 0;
}
.promo-content-action p {
  cursor: pointer;
  font-size: 18px;
  color: white;
  background: var(--primary-btn);
  margin-inline: 10px;
  border-radius: 5px;
  padding: 5px 5px 0px 5px;
}
.promo-specifications {
  position: relative;
  margin-top: 40px;
  /* height: 400px; */
}
.promo-specifications__image {
  /* position: absolute; */
  overflow: hidden;
  overflow-x: hidden;
  width: 101%;
  margin-left: -5px;
}
.promo-specifications__image-img {
  width: 121%;
}
@media screen and (max-width: 1050px) {
  .promo {
    flex-direction: column;
  }
  .promo-content {
    margin: 3rem 0 3rem;
  }
  .promo-content-detail p {
    width: 100%;
  }
}
@media screen and (max-width: 1250px) {
  .promo-image{
    display: none;
  }
  .promo-blur-block{
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .promo-content h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .promo-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .promo-content__people {
    flex-direction: column;
  }
  .promo-content__people p {
    margin: 0;
  }
  .promo-content__input input,
  .promo-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
  .promo-content-buy .primary-btn {
    padding: 0.75rem 20px;
  }
  .promo-content-buy .secondary-btn {
    padding: 0.75rem 33px;
  }
}
@media screen and (max-width: 490px) {
  .promo-content h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .promo-content p {
    font-size: 14px;
    line-height: 26px;
  }
  .promo-content__input input,
  .promo-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
  .promo {
    padding-inline: 1rem !important ;
    padding-top: 1rem !important;
  }

  .promo-content-buy .primary-btn {
    margin-right: 10px;
  }
  .promo-content-action {
    top: 15%;
  }
  .promo-content-action p {
    margin-inline: 5px;
  }
}


