.menu_item {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}
/* Dropdown Button */
.dropbtn {
  /*background-color: #4CAF50;*/
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  /* overflow: hidden; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  overflow: hidden;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #fffcf9;
  border-radius: 11px;
  border: 1px solid rgba(242, 125, 12, 1);
  left: -100px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(246, 210, 171);
}
.menu_item__icon {
  margin-top: -3px;
  height: 20px;
  width: 23px;
}
.menu_item__block {
  display: flex;
}
.main-tab{
  padding: 0 15px;
}
.iconProfile{
  margin-left: 20px;
  /* padding: 15px; */
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.navbar {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  border-bottom: 1px solid rgba(165, 165, 165, 0.1);
}
.logo {
  margin-top: 10px;
}
.navbar-links__menu {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 15%;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);
}

.modal {
  position: absolute;
  top: 72px;
  width: 297px;
  height: 201px;
  /* left: 1005px;
  top: 78px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #fffcf9;
  border-radius: 11px;
  border: 1px solid rgba(242, 125, 12, 1);

  background: #fffcf9;
  border-radius: 11px;
}
.modal__name-modal {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 52px;
  width: 100%;
  border-bottom: 1px solid rgba(72, 43, 8, 0.25);
}
.modal__icon {
  margin: 4px 10px 0 18px;
}
.model__content-auth {
  padding: 20px 26px 42px 20px;
}
.model__text-auth {
  padding-bottom: 27px;
  font-family: "Neometric";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
}
.model__block-auth {
  width: 251px;
  /* height: 125px; */
  border: 1px solid rgba(72, 43, 8, 0.25);
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}
.block {
  background: rgba(90, 59, 29, 0.43);
  backdrop-filter: blur(100px);
}
.model__block-wallet {
  display: flex;
  align-items: center;
  width: 100%;
  height: 41px;
  /* border-bottom: 1px solid rgba(72, 43, 8, 0.25); */
}
.model__block-wallet:hover{
  background: rgba(72, 43, 8, 0.6);;
}
.model__block-wallet__icon {
  margin-top: 5px;
  margin-left: 20px;
}
.model__block-wallet__name {
  padding-top: 1px;
  font-family: "NeometricBold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.8);

  margin-left: 12px;
}
.address_text{
  font-family: "Neometric";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
  padding-bottom: 5px;
}
.modal__name {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: rgba(72, 43, 8, 0.6);
}
.navbar-links_logo img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
.header-icon {
  margin-inline: 10px;
}
.navbar-links {
  /* flex: 1; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-links_logo {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: white;
}
.menu_{
  display: flex;
  gap: 50px;
}
.main-logo {
  font-family: "Neometric";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #482b08;
}
.navbar-links_logo img {
  margin-right: 5px;
}
.navbar-links_container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.navbar-links_container input {
  background: rgba(193, 114, 18, 0.12);
  border: none;
  border-radius: 46px;
  padding: 7px 19px 7px 15px;
  font-family: var(--font-family);
  outline: none;

  /* color: rgba(72, 43, 8, 0.4); */

  /* font-family: "Neometric"; */
  /* font-style: normal; */
  font-weight: 400;
  width: 267px;
  height: 48px;
  font-size: 12px;
  /* line-height: 14px; */
  display: flex;
  align-items: center;

  /* color: rgba(72, 43, 8, 0.4); */
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
  color: rgba(72, 43, 8, 0.8);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}
.navbar-sign .primary-btn,
.navbar-menu_container-links-sign .primary-btn {
  background: var(--primary-btn);
  border-radius: 10px;
}
.navbar-sign .secondary-btn,
.navbar-menu_container-links-sign .secondary-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  margin: 0 1rem;
  color: var(--primary-color);
  border-radius: 10px;
}

.navbar-sign button,
.navbar-menu_container button {
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  border: none;
  font-size: 16px;
}
.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
.navbar-menu svg {
  cursor: pointer;
}
.navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  width: 100%;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.navbar-menu_container p {
  margin: 1rem 0;
}
.navbar-menu_container-links-sign {
  display: none;
}
@media screen and (max-width: 1050px) {
  .navbar-links_container {
    display: none;
  }
  .navbar-menu {
    /* display: flex; */
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem 2rem 0 2rem;
    flex-direction: column;
    gap: 20px;
  }

  .navbar-sign {
    /* display: none; */
  }
  .navbar-menu_container {
    top: 20px;
  }
  .navbar-menu_container-links-sign {
    display: block;
  }

  .navbar-menu_container-links-sign .secondary-btn {
    margin: 1rem 0;
  }
}

.login {
  /* display: flex;
  font-family: var(--font-family);
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%; */
}
.login-container {
  background: #2a2d3a;
  border-radius: 20px;
  padding: 2rem;
  min-width: 30%;
}
.login-container h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 42px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.login-formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.login-formGroup label {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}
.login-formGroup input {
  background: #1b1a21;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}

.login-formGroup textarea {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.login-formGroup select {
  background: #2d2e36;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-overflow: ellipsis;
}
.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-writeButton {
  /* float: right; */
  background: var(--primary-btn);
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.login-reg-writeButton {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 30px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 550px) {
  .login {
    padding: 2rem 1.5rem !important;
  }
  .login-container {
    padding: 1.5rem 1rem;
  }
  .login-container h1 {
    /* display: none; */
    font-size: 36px;
    margin-top: 0;
  }
  .login-formGroup label {
    font-size: 20px;
    line-height: 30px;
  }
}
